{% extends 'base.html' %}
{% load static %}
{% block form %}
<link rel="stylesheet" href="{% static 'css/style_login.css'%}">
  <div class="body">
    <div class="loginbox">
      <img class="verified-account" src="{% static 'imgs/logout_1828427.png' %}" alt="Card image cap" style="border-radius: 0%;">
      <h4>Вы вышли из своей учётной записи!</h4>
      <a class="nav-link" href="{% url "users:login" %}"><input type="submit" name="" value="Войти"></a>
    </div>
    </div>
  </div>
{% endblock %}