{% if page_obj.has_other_pages %} 
  <ul>
    {% if page_obj.has_previous %}
      <li><a href="?page=1">Первая</a></li>
      <li>
        <a href="?page={{ page_obj.previous_page_number }}">
          Предыдущая
        </a>
      </li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
          <li>
            {{ i }}
          </li>
        {% else %}
          <li>
            <a href="?page={{ i }}">{{ i }}</a>
          </li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}">
          Следующая
        </a>
      </li>
      <li>
        <a href="?page={{ page_obj.paginator.num_pages }}">
          Последняя
        </a>
      </li>
    {% endif %}
  </ul>
{% endif %}