<!--Ячейка которая является заголовком в таблице-->

      {% include 'core/tables/paginator.html' %}
      <div class="table-responsive">
        <table class="table table-borderless table-hover table-striped table-sm">
          {% if page_obj %}
            <tr class="table-dark">
              {% block title_cells %}
              {% endblock %}
              <th scope="col">Действия</th>
            </tr>
            {% for obj in page_obj %}
              <tr>
                {% block cells %}
                {% endblock %}
                <td scope="row">
                  {% block actions %}
                  {% endblock %}
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        </table>
      </div>