<!--Ячейка которая является заголовком в таблице-->

      {% include 'core/tables/paginator.html' %}
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          {% if page_obj %}
            <tr>
              {% block title_cells %}
              {% endblock %}
              <th scope="col">Действия</th>
            </tr>
            {% for obj in page_obj %}
              <tr>
                {% block cells %}
                {% endblock %}
                <th scope="col">
                  {% block actions %}
                  {% endblock %}
                </th>
              </tr>
            {% endfor %}
          {% endif %}
        </table>
      </div>