<form>
  {% with form.old_password as field %}
    <div class="form-group">
          {{ field.label_tag }} {{ field }}
        </div>
      {% endwith %}
      {% with form.new_password1 as field %}
        <div class="form-group">
          {{ field.label_tag }} {{ field }}
        </div>
      {% endwith %}
      {% with form.new_password2 as field %}
        <div class="form-group">
          {{ field.label_tag }} {{ field }}
        </div>
      {% endwith %}
      <button type="submit" class="btn btn-outline-primary btn-lg" >Сохранить</button>
</form>