{% load static %}
<link rel="stylesheet" href="{% static 'css/base_data.css'%}">
<form>
    <img class="usercap" src="{% static 'imgs/user_4847851.png'%}" alt="image cap">
    <div class="row">
      <div class="col">
        <label for="inputName">Имя</label> 
        <input type="text" class="form-control" placeholder="">
      </div>
      <div class="col">
        <label for="inputSurname">Фамилия</label>
        <input type="text" class="form-control" placeholder="">
      </div>
      <div class="form-group">
        <label for="inputUsername">Имя пользователя</label>
        <input type="text" class="form-control" id="inputUsername" placeholder="">
      </div>
      <div class="form-group">
        <label for="inputEmail">Адрес эл.почты</label>
        <input type="text" class="form-control" id="inputEmail" placeholder="">
      </div>
    </div>
  </form>