{% load static %}
<link rel="stylesheet" href="{% static 'css/personal_data.css'%}">
<form>
  {% with form.old_password as field %}
        <div class="form-group row my-1 p-1">
          <label class="col-sm-2 col-form-label">
          {{ field.label_tag }} {{ field }}
          </label>
        </div>
      {% endwith %}
      {% with form.new_password1 as field %}
        <div class="form-group row my-1 p-1">
          <label class="col-sm-2 col-form-label">
          {{ field.label_tag }} {{ field }}
          </label>
        </div>
      {% endwith %}
      {% with form.new_password2 as field %}
        <div class="form-group row my-1 p-1">
          <label class="col-sm-2 col-form-label">
          {{ field.label_tag }} {{ field }}
          </label>
        </div>
      {% endwith %}
      <div class="button">
        <input type="submit" name="" value="Сохранить">
      </div>
  </form>