{% load static %}
<link rel="stylesheet" href="{% static 'css/personal_data.css'%}"
<form>
  {% with form.first_name as field %}
    <div class="form-group row my-1 p-1">
      <label class="col-sm-2 col-form-label">
        {{ field.label_tag }}
        {% if field.field.required %}
          <span class="required text-danger">*</span>
        {% endif %}
      </label>
      <div class="col-sm-10">
        <div class="form-control form-control-lg">
          {{ field }}
        </div>
      </div>
    </div>
  {% endwith %}
  {% with form.last_name as field %}
    <div class="form-group row my-1 p-1">
      <label class="col-sm-2 col-form-label">
        {{ field.label_tag }}
        {% if field.field.required %}
          <span class="required text-danger">*</span>
        {% endif %}
      </label>
      <div class="col-sm-10">
        <div class="form-control form-control-lg">
          {{ field }}
        </div>
      </div>
    </div> 
  {% endwith %}
  {% with form.username as field %}
    <div class="form-group row my-1 p-1">
      <label class="col-sm-2 col-form-label">
        {{ field.label_tag }}
        {% if field.field.required %}
        <span class="required text-danger">*</span>
        {% endif %}
      </label>
      <div class="col-sm-10">
        <div class="form-control form-control-lg">
          {{ field }}
        </div>
      </div>
    </div>
  {% endwith %}
  <div class="button">
    <button type="submit" class="btn btn-dark btn-lg">Сохранить</button>
  </div>
</form>
</div>
</div>