{% load static %}
<form>
    <div class="row">
        <div class="form-group">
            <img class="usercap" src="{% static 'imgs/user_4847972.png'%}" alt="image cap">
            <label for="inputImage">Изменить фото профиля</label> 
          </div>  
      <div class="form-group">
        <label for="inputChangename">Изменить имя</label> 
        <input type="text" class="form-control" placeholder="">
      </div>
      <div class="form-group">
        <label for="inputChangesurname">Изменить фамилию</label>
        <input type="text" class="form-control" placeholder="">
      </div>
      <div class="form-group">
        <label for="inputChangeusername">Изменить имя пользователя</label>
        <input type="text" class="form-control" id="inputUsername" placeholder="">
      </div>
    </div>
  </form>