<!DOCTYPE html>
<html lang="ru">
  {% include 'core/head.html' %}
  <body>
    <div class="container">
    {% include 'core/main_menu.html' %} 
    </div>
    <main>
      <div class="container" style="margin-top: 70px;">
      {% include 'core/page_header.html' %}
      {% block list %}
      {% endblock %}
      {% block content %}
      {% endblock %}
      {% block form %}
      {% endblock %}
      </div>
    </main>
    <footer>
      {% include 'core/footer.html' %} 
    </footer>
  </body>
</html>