{% if form.errors %}
  {% for field in form %}
    {% for error in field.errors %}
      {{ error|escape }}
    {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
    {{ error|escape }}
  {% endfor %}
{% endif %}
{% block form %}
{% endblock %}
<!--шаблон для отображения ошибок формы-->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-11 col-xs-6">
<ul>
  {% for field in form %}
    <li>
      <label for="{{ field.id_for_label }}">
        {{ field.label }}
        {% if field.field.required %}
          <span>*</span>
        {% endif %}
      </label>
      {{ field }}
      {% if field.help_text %}
        <small id="{{ field.id_for_label }}-help">
          {{ field.help_text|safe }}
        </small>
      {% endif %}
    </li>
  {% endfor %}
</ul>
    </div>
    </div>
  </div>
</div>
  <button type="submit" >Добавить</button>
</form>
<!--шаблон для создания формы,перебирает все поля и выводит метку;кнопка для отправки фопмы-->