{% extends 'core/tables/table.html' %}
{% block title_cells %}
  {% include "expenses/components/tables/components/expense/title_components/category.html" %}
  {% include "expenses/components/tables/components/expense/title_components/expense.html" %}
  {% include "expenses/components/tables/components/expense/title_components/pub_date.html" %}
{% endblock %}
{% block cells %}
{% if edit_mode and obj.pk == edit_pk %}
{% if edit_form.errors %}
  {% for field in edit_form %}
    {% for error in edit_form.errors %}
      {{ error|escape }}
    {% endfor %}
  {% endfor %}
  {% for error in edit_form.non_field_errors %}
    {{ error|escape }}
  {% endfor %}
{% endif %}
<form method="post" action="{% url 'expenses:edit' obj.pk %}" enctype="multipart/form-data">{% csrf_token %}
{% endif %}
    {% include "expenses/components/tables/components/expense/record_components/category.html" %}
    {% include "expenses/components/tables/components/expense/record_components/expense.html" %}
    {% include "expenses/components/tables/components/expense/record_components/pub_date.html" %}
{% endblock %}
{% block actions %}
  {% include "expenses/components/tables/components/expense/record_components/actions.html" %}
  {% if edit_mode and obj.pk == edit_pk %}
    </form>
  {% endif %}
{% endblock %}
